<!DOCTYPE html>
<html lang="en" dir="ltr">
    {% load static %}
    
   <head>
      <meta charset="utf-8">
      <title>Apteck Learning</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/float.css' %}">
      <style>
        body{
            background-image: url('/static/image/main.jpg');
        }
        .modal{
            display: none;
        }
        .whatsapp{
            bottom: 10px;
            left: -10px;
            /* right: 10px; */
            position: fixed;
        }
      </style>
    </head>
<body>
    {% include 'navbar.html' %} 
    <div class="content">
        <h1>Not getting job?</h1>
        <br><br>
        <h2>Join us to get Interviews with <br> Internship and training till <br> you get the job</h2>
        <br><br>
        
        <button id="enquiry" onclick="document.getElementById('id01').style.display='block'" >ENQUIRE NOW</button>
    </div>
    <div id="id01" class="modal">
        <!-- <form class="modal-content animate" action="#" method="post"> -->
        <form class="modal-content animate" method="post">
            {% csrf_token%}
      
      
            <div class="rec-form">
                <h2>We dont SPAM your details</h2> <br>
                Full Name <input type="text" name="name" required>
                Mobile Number <input type="tel" name="phone" required>
                Email <input type="email" name="email" required>
                Highest Degree <input type="text" name="degree" required>
                Course Interested <input type="text" name="course" required> <br><br>
                <button type="submit">Submit</button> 
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button> 
            </div>
        </form>
    </div> 
    <a class="whatsapp" href="https://wa.me/+918618415354?text=" target="_blank"> <img src="{% static 'image/whatsapp.png'%}" alt="" height="60px" ></a>
</body>
<!--Start of Tawk.to Script (0.7.2)-->
<script id="tawk-script" type="text/javascript">
    var Tawk_API = Tawk_API || {};
    var Tawk_LoadStart=new Date();
    (function(){
        var s1 = document.createElement( 'script' ),s0=document.getElementsByTagName( 'script' )[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/60338d749c4f165d47c5c470/1ev4m14do';
        s1.charset = 'UTF-8';
        s1.setAttribute( 'crossorigin','*' );
        s0.parentNode.insertBefore( s1, s0 );
    })();
    </script>
    <!--End of Tawk.to Script (0.7.2)-->
</html>